<html>
   <head>
      <link rel="stylesheet" href="/static/styles/page.css"/>
   </head>
   <body>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for message in messages %}
               {{ message }}
            {% endfor %}
         {% endif %}
      {% endwith %}
   
      <title>colors or something</title>
      <div class = "titlebar">
         <h1>Upload new File</h1>
      </div>
      <div class="middle" >
         <form method=post enctype=multipart/form-data>
            <input class="txtbox" type=file name=file>
            <div class="resultsPad">
               <input class="btnResults" type=submit value="Display Results">
            </div>
         </form>
      </div>
   </body>
</html>
